{% extends "base.html" %}

{% block title %}
    Todo Lists
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ list_details.name }}</h1>
            <p>
                <a href="{% url "todo_list_update" list_details.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url "todo_list_delete" list_details.id %}">Delete</a>
            </p>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
                <tbody>
                    {% for detail in list_details.items.all %}
                        <tr>
                            <td>
                                <a href="{% url "todo_item_update" detail.id %}">{{ detail.task }}</a>
                            </td>
                            <td>{{ detail.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
